@import '../../_global-styles/mixins';
@media screen and (max-width: 1280px)
{
	.sidebar__single-project
	{
		width: 80%;
	}
	.greetings__title h1
	{
		font-size: rem(90px);
	}
	.about__title
	{
		align-self: center;
		margin: 3.125rem 0 4.5rem;
		width: 100%;
	}
	.about__description
	{
		padding: 0;
		width: 100%;
	}
	.skills__container
	{
		flex-direction: column-reverse;
		.about__description
		{
			width: 100%;
		}
		.about__title
		{
			margin: 0 0 4rem;
			width: 100%;
		}
	}
	.about__skills:before
	{
		right: 0;
		top: rem(-40px);
	}
	.feedback__container
	{
		h2
		{
			font-size: rem(100px);
			span
			{
				&:before
				{
					height: rem(45px);
					right: rem(-35px);
					top: rem(33px);
					width: rem(16px);
				}
				&:after
				{
					height: rem(16px);
					top: rem(93px);
				}
			}
		}
		p
		{
			font-size: rem(32px);
		}
	}
}
