@media screen and (max-width: 667px)
{
	.sidebar__container
	{
		display: none;
	}
	.frontpage__container
	{
		width: 100%;
	}
	html
	{
		font-size: 12px;
	}
	.greetings__socials a
	{
		padding: 0.4rem;
	}
}
