@media screen and (max-width: 667px)
{
	.sidebar__container
	{
		display: none;
	}
	.frontpage__container
	{
		width: 100%;
	}
	html
	{
		font-size: 12px;
	}
	.greetings__title
	{
		min-height: calc(100vh - 70px);
	}
	.greetings__socials
	{
		height: 30px;
		a
		{
			padding: 0.4rem;
		}
	}
	.frontpage__section
	{
		padding: 20px 0;
	}
	.greetings__container
	{
		min-height: calc(100vh - 40px);
	}
	.feedback__container
	{
		min-height: calc(100vh - 40px);
	}
}
