@import '../../../../../css/_global-styles/mixins';

.frontpage__container
{
	background: url('../../../../../images/body_back.png') center / contain;
	width: 73.7%;
}
.frontpage__section
{
	padding: 40px 0;
	width: 100%;
}
