@import '../_global-styles/mixins';

header
{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.header
{
	&__container
	{
		align-items: center;
		justify-content: space-between;
		padding: 0 rem(13px);
	}
	&__logo
	{
		flex-direction: column;
		font-size: rem(28px);
		font-weight: 700;
		padding: rem(17px);
		&:hover
		{
			.header__logo_visual-trick
			{
				&:before
				{
					height: rem(17px);
				}
			}
			.header__logo_brick
			{
				&:after
				{
					opacity: 0.7;
					transform: rotate(180deg);
				}
			}
		}
		&_visual-trick
		{
			position: relative;
			&:before
			{
				background: #000000;
				content: '';
				height: rem(13px);
				left: rem(39px);
				position: absolute;
				top: rem(5px);
				transition: height 0.5s;
				width: rem(4px);
				z-index: 1;
			}
			&:after
			{
				background: #000000;
				content: '';
				height: rem(4px);
				left: rem(39px);
				position: absolute;
				top: rem(22px);
				width: rem(13px);
				z-index: 1;
			}
		}
		&_brick
		{
			position: relative;
			&:after
			{
				background: linear-gradient(to right, #7F7FD5, #91EAE4);
				content: '';
				height: rem(5px);
				opacity: 1;
				position: absolute;
				right: rem(-2px);
				top: rem(13px);
				transform: rotate(0deg);
				transition: transform 0.5s, opacity 0.5s;
				width: rem(26px);
				z-index: 1;
			}
		}
	}
}
